<!-- base -->
<button class="mf-btn">Basic button</button>

<!-- colors -->
<button class="mf-btn mf-btn--primary">Primary button - solid</button>
<button class="mf-btn mf-btn--secondary">Secondary button - solid</button>
<button class="mf-btn mf-btn--danger">Danger button - solid</button>
<button class="mf-btn mf-btn--cancel">Cancel button - solid</button>

<!-- bordered -->
<button class="mf-btn mf-btn--primary-border">Primary button - bordered</button>
<button class="mf-btn mf-btn--secondary-border">Secondary button - bordered</button>
<button class="mf-btn mf-btn--danger-border">Danger button - bordered</button>
<button class="mf-btn mf-btn--cancel-border">Cancel button - bordered</button>

<!-- sizes -->
<button class="mf-btn mf-btn--primary mf-btn--small">Primary button - solid small</button>
<button class="mf-btn mf-btn--primary mf-btn--medium">Primary button - solid medium</button>
<button class="mf-btn mf-btn--primary mf-btn--large">Primary button - solid large</button>

<!-- round -->
<button class="mf-btn mf-btn--primary mf-btn--round">Primary button - solid round</button>

<!-- full-width -->
<button class="mf-btn mf-btn--primary mf-btn--full-width">Primary button - solid full-width</button>

<!-- with icon -->
<button class="mf-btn mf-btn--primary mf-btn--icon-right">
    <span>Primary button - icon right</span>
    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
</button>
<button class="mf-btn mf-btn--primary mf-btn--icon-left">
    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
    <span>Primary button - icon left</span>
</button>

<button class="mf-btn mf-btn--primary-border mf-btn--icon-right">
    <span>Primary button - icon right</span>
    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
</button>
<button class="mf-btn mf-btn--primary-border mf-btn--icon-left">
    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
    <span>Primary button - icon left</span>
</button>