<!-- base -->
<button class="mf-btn">Basic button</button>

<!-- colors -->
<button class="mf-btn mf-btn--primary">Primary button - solid</button>
<button class="mf-btn mf-btn--secondary">Secondary button - solid</button>
<button class="mf-btn mf-btn--danger">Danger button - solid</button>
<button class="mf-btn mf-btn--cancel">Cancel button - solid</button>

<!-- bordered -->
<button class="mf-btn mf-btn--primary-border">Primary button - bordered</button>
<button class="mf-btn mf-btn--secondary-border">Secondary button - bordered</button>
<button class="mf-btn mf-btn--danger-border">Danger button - bordered</button>
<button class="mf-btn mf-btn--cancel-border">Cancel button - bordered</button>

<!-- sizes -->
<button class="mf-btn mf-btn--primary mf-btn--small">Primary button - solid small</button>
<button class="mf-btn mf-btn--primary mf-btn--medium">Primary button - solid medium</button>
<button class="mf-btn mf-btn--primary mf-btn--large">Primary button - solid large</button>

<!-- round -->
<button class="mf-btn mf-btn--primary mf-btn--round">Primary button - solid round</button>

<!-- full-width -->
<button class="mf-btn mf-btn--primary mf-btn--full-width">Primary button - solid full-width</button>