<!-- Grid: Default (without gutter) -->
<div class="mf-grid">
    <div class="mf-grid__cell col-12">Col-12</div>

    <div class="mf-grid__cell col-11">Col-11</div>
    <div class="mf-grid__cell col-1">Col-1</div>

    <div class="mf-grid__cell col-10">Col-10</div>
    <div class="mf-grid__cell col-2">Col-2</div>

    <div class="mf-grid__cell col-9">Col-9</div>
    <div class="mf-grid__cell col-3">Col-3</div>

    <div class="mf-grid__cell col-8">Col-8</div>
    <div class="mf-grid__cell col-4">Col-4</div>

    <div class="mf-grid__cell col-7">Col-7</div>
    <div class="mf-grid__cell col-5">Col-5</div>

    <div class="mf-grid__cell col-6">Col-6</div>
    <div class="mf-grid__cell col-6">Col-6</div>

    <div class="mf-grid__cell col-5">Col-5</div>
    <div class="mf-grid__cell col-7">Col-7</div>

    <div class="mf-grid__cell col-4">Col-4</div>
    <div class="mf-grid__cell col-8">Col-8</div>

    <div class="mf-grid__cell col-3">Col-3</div>
    <div class="mf-grid__cell col-9">Col-9</div>

    <div class="mf-grid__cell col-2">Col-2</div>
    <div class="mf-grid__cell col-10">Col-10</div>

    <div class="mf-grid__cell col-1">Col-1</div>
    <div class="mf-grid__cell col-11">Col-11</div>
    
    <div class="mf-grid__cell col-3">Col-3</div>
    <div class="mf-grid__cell col-6">Col-6</div>
    <div class="mf-grid__cell col-3">Col-3</div>
    
    <div class="mf-grid__cell col-2">Col-2</div>
    <div class="mf-grid__cell col-4">Col-4</div>
    <div class="mf-grid__cell col-6">Col-6</div>
    
    <div class="mf-grid__cell col-5">Col-5</div>
    <div class="mf-grid__cell col-6">Col-6</div>
    <div class="mf-grid__cell col-1">Col-1</div>

    <div class="mf-grid__cell col-4">Col-4</div>
    <div class="mf-grid__cell col-4">Col-4</div>
    <div class="mf-grid__cell col-4">Col-4</div>
    
    <div class="mf-grid__cell col-3">Col-3</div>
    <div class="mf-grid__cell col-3">Col-3</div>
    <div class="mf-grid__cell col-3">Col-3</div>
    <div class="mf-grid__cell col-3">Col-3</div>
    
    <div class="mf-grid__cell col-5">Col-5</div>
    <div class="mf-grid__cell col-4">Col-4</div>
    <div class="mf-grid__cell col-1">Col-1</div>
    <div class="mf-grid__cell col-2">Col-2</div>
</div>

<!-- Grid: with gutter -->
<div class="mf-grid mf-grid--gutter">
    <div class="mf-grid__cell col-12">
        <div class="mf-grid__cell-inner">Col-12</div>
    </div>

    <div class="mf-grid__cell col-11">
        <div class="mf-grid__cell-inner">Col-11</div>
    </div>
    <div class="mf-grid__cell col-1">
        <div class="mf-grid__cell-inner">Col-1</div>
    </div>

    <div class="mf-grid__cell col-10">
        <div class="mf-grid__cell-inner">Col-10</div>
    </div>
    <div class="mf-grid__cell col-2">
        <div class="mf-grid__cell-inner">Col-2</div>
    </div>

    <div class="mf-grid__cell col-9">
        <div class="mf-grid__cell-inner">Col-9</div>
    </div>
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>

    <div class="mf-grid__cell col-8">
        <div class="mf-grid__cell-inner">Col-8</div>
    </div>
    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>

    <div class="mf-grid__cell col-7">
        <div class="mf-grid__cell-inner">Col-7</div>
    </div>
    <div class="mf-grid__cell col-5">
        <div class="mf-grid__cell-inner">Col-5</div>
    </div>

    <div class="mf-grid__cell col-6">
        <div class="mf-grid__cell-inner">Col-6</div>
    </div>
    <div class="mf-grid__cell col-6">
        <div class="mf-grid__cell-inner">Col-6</div>
    </div>

    <div class="mf-grid__cell col-5">
        <div class="mf-grid__cell-inner">Col-5</div>
    </div>
    <div class="mf-grid__cell col-7">
        <div class="mf-grid__cell-inner">Col-7</div>
    </div>

    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>
    <div class="mf-grid__cell col-8">
        <div class="mf-grid__cell-inner">Col-8</div>
    </div>

    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    <div class="mf-grid__cell col-9">
        <div class="mf-grid__cell-inner">Col-9</div>
    </div>

    <div class="mf-grid__cell col-2">
        <div class="mf-grid__cell-inner">Col-2</div>
    </div>
    <div class="mf-grid__cell col-10">
        <div class="mf-grid__cell-inner">Col-10</div>
    </div>

    <div class="mf-grid__cell col-1">
        <div class="mf-grid__cell-inner">Col-1</div>
    </div>
    <div class="mf-grid__cell col-11">
        <div class="mf-grid__cell-inner">Col-11</div>
    </div>
    
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    <div class="mf-grid__cell col-6">
        <div class="mf-grid__cell-inner">Col-6</div>
    </div>
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    
    <div class="mf-grid__cell col-2">
        <div class="mf-grid__cell-inner">Col-2</div>
    </div>
    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>
    <div class="mf-grid__cell col-6">
        <div class="mf-grid__cell-inner">Col-6</div>
    </div>
    
    <div class="mf-grid__cell col-5">
        <div class="mf-grid__cell-inner">Col-5</div>
    </div>
    <div class="mf-grid__cell col-6">
        <div class="mf-grid__cell-inner">Col-6</div>
    </div>
    <div class="mf-grid__cell col-1">
        <div class="mf-grid__cell-inner">Col-1</div>
    </div>

    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>
    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>
    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>

    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    <div class="mf-grid__cell col-3">
        <div class="mf-grid__cell-inner">Col-3</div>
    </div>
    
    <div class="mf-grid__cell col-5">
        <div class="mf-grid__cell-inner">Col-5</div>
    </div>
    <div class="mf-grid__cell col-4">
        <div class="mf-grid__cell-inner">Col-4</div>
    </div>
    <div class="mf-grid__cell col-1">
        <div class="mf-grid__cell-inner">Col-1</div>
    </div>
    <div class="mf-grid__cell col-2">
        <div class="mf-grid__cell-inner">Col-2</div>
    </div>
</div>
