.mf-grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.mf-grid__cell {
    box-sizing: border-box;
    background: #dddddd;
    padding: 5px 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
}

.mf-grid.mf-grid--gutter {
    /* overwrite 4 in your theme; the space between cells will be that value * 2 */
    margin-left: -4px;
    margin-right: -4px;
}

.mf-grid.mf-grid--gutter .mf-grid__cell {
    /* overwrite 4 in your theme; the space between cells will be that value * 2 */
    padding: 0 4px;
    /* overwrite 8 in your theme to match the gutter size */
    margin-bottom: 8px;
    border: none;
    background: none;
}

.mf-grid.mf-grid--gutter .mf-grid__cell-inner {
    padding: 5px 10px;
    background: #dddddd;
    border: 1px solid #aaaaaa;
}

.mf-grid.mf-grid--reverse {
    flex-direction: row-reverse;
}

/* large phones or landscape mode & small tablets */
.mf-grid .col-1 {
    flex: 0 0 8.3333333333%;
}

.mf-grid .col-2 {
    flex: 0 0 16.6666666667%;
}

.mf-grid .col-3 {
    flex: 0 0 25%;
}

.mf-grid .col-4 {
    flex: 0 0 33.3333333333%;
}

.mf-grid .col-5 {
    flex: 0 0 41.6666666667%;
}

.mf-grid .col-6 {
    flex: 0 0 50%;
}

.mf-grid .col-7 {
    flex: 0 0 58.3333333333%;
}

.mf-grid .col-8 {
    flex: 0 0 66.6666666667%;
}

.mf-grid .col-9 {
    flex: 0 0 75%;
}

.mf-grid .col-10 {
    flex: 0 0 83.3333333333%;
}

.mf-grid .col-11 {
    flex: 0 0 91.6666666667%;
}

.mf-grid .col-12 {
    flex: 0 0 100%;
}

/* large phones or landscape mode & small tablets */
@media screen and (min-width: 480px) {
    .mf-grid .phn-1 {
        flex: 0 0 8.3333333333%;
    }
    .mf-grid .phn-2 {
        flex: 0 0 16.6666666667%;
    }
    .mf-grid .phn-3 {
        flex: 0 0 25%;
    }
    .mf-grid .phn-4 {
        flex: 0 0 33.3333333333%;
    }
    .mf-grid .phn-5 {
        flex: 0 0 41.6666666667%;
    }
    .mf-grid .phn-6 {
        flex: 0 0 50%;
    }
    .mf-grid .phn-7 {
        flex: 0 0 58.3333333333%;
    }
    .mf-grid .phn-8 {
        flex: 0 0 66.6666666667%;
    }
    .mf-grid .phn-9 {
        flex: 0 0 75%;
    }
    .mf-grid .phn-10 {
        flex: 0 0 83.3333333333%;
    }
    .mf-grid .phn-11 {
        flex: 0 0 91.6666666667%;
    }
    .mf-grid .phn-12 {
        flex: 0 0 100%;
    }
}

/* tablets */
@media screen and (min-width: 720px) {
    .mf-grid .tab-1 {
        flex: 0 0 8.3333333333%;
    }
    .mf-grid .tab-2 {
        flex: 0 0 16.6666666667%;
    }
    .mf-grid .tab-3 {
        flex: 0 0 25%;
    }
    .mf-grid .tab-4 {
        flex: 0 0 33.3333333333%;
    }
    .mf-grid .tab-5 {
        flex: 0 0 41.6666666667%;
    }
    .mf-grid .tab-6 {
        flex: 0 0 50%;
    }
    .mf-grid .tab-7 {
        flex: 0 0 58.3333333333%;
    }
    .mf-grid .tab-8 {
        flex: 0 0 66.6666666667%;
    }
    .mf-grid .tab-9 {
        flex: 0 0 75%;
    }
    .mf-grid .tab-10 {
        flex: 0 0 83.3333333333%;
    }
    .mf-grid .tab-11 {
        flex: 0 0 91.6666666667%;
    }
    .mf-grid .tab-12 {
        flex: 0 0 100%;
    }
}

/* laptops & desktop */
@media screen and (min-width: 1024px) {
    .mf-grid .dsk-1 {
        flex: 0 0 8.3333333333%;
    }
    .mf-grid .dsk-2 {
        flex: 0 0 16.6666666667%;
    }
    .mf-grid .dsk-3 {
        flex: 0 0 25%;
    }
    .mf-grid .dsk-4 {
        flex: 0 0 33.3333333333%;
    }
    .mf-grid .dsk-5 {
        flex: 0 0 41.6666666667%;
    }
    .mf-grid .dsk-6 {
        flex: 0 0 50%;
    }
    .mf-grid .dsk-7 {
        flex: 0 0 58.3333333333%;
    }
    .mf-grid .dsk-8 {
        flex: 0 0 66.6666666667%;
    }
    .mf-grid .dsk-9 {
        flex: 0 0 75%;
    }
    .mf-grid .dsk-10 {
        flex: 0 0 83.3333333333%;
    }
    .mf-grid .dsk-11 {
        flex: 0 0 91.6666666667%;
    }
    .mf-grid .dsk-12 {
        flex: 0 0 100%;
    }
}

/* large screens */
@media screen and (min-width: 1392px) {
    .mf-grid .xlg-1 {
        flex: 0 0 8.3333333333%;
    }
    .mf-grid .xlg-2 {
        flex: 0 0 16.6666666667%;
    }
    .mf-grid .xlg-3 {
        flex: 0 0 25%;
    }
    .mf-grid .xlg-4 {
        flex: 0 0 33.3333333333%;
    }
    .mf-grid .xlg-5 {
        flex: 0 0 41.6666666667%;
    }
    .mf-grid .xlg-6 {
        flex: 0 0 50%;
    }
    .mf-grid .xlg-7 {
        flex: 0 0 58.3333333333%;
    }
    .mf-grid .xlg-8 {
        flex: 0 0 66.6666666667%;
    }
    .mf-grid .xlg-9 {
        flex: 0 0 75%;
    }
    .mf-grid .xlg-10 {
        flex: 0 0 83.3333333333%;
    }
    .mf-grid .xlg-11 {
        flex: 0 0 91.6666666667%;
    }
    .mf-grid .xlg-12 {
        flex: 0 0 100%;
    }
}
