<!-- Tabs: Basic -->
<div class="mf-tabs">
    <header class="mf-tabs__header">
        <button class="mf-tabs__tab" data-index="1">Tab 1</button>
        <button class="mf-tabs__tab" data-index="2">Tab 2</button>
        <button class="mf-tabs__tab" data-index="3">Tab 3</button>
    </header>
    <div class="mf-tabs__content">
        <article class="mf-tabs__panel" data-index="1">
            <p>This is Tab 1 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nisi optio repudiandae ipsum at placeat. Iusto quibusdam at eligendi asperiores laboriosam nam corrupti eum, rerum, deleniti iste repudiandae blanditiis accusamus.</p>
        </article>
        <article class="mf-tabs__panel" data-index="2">
            <p>This is Tab 2 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id alias molestias necessitatibus reprehenderit omnis, nesciunt ratione adipisci architecto similique est at illum eveniet dolorum autem ullam porro earum blanditiis laboriosam.</p>
        </article>
        <article class="mf-tabs__panel" data-index="3">
            <p>This is Tab 3 content. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem sit doloremque, eligendi quaerat non a perferendis qui veritatis accusantium, suscipit delectus sunt explicabo repudiandae quam. Ullam accusantium consequatur harum quos?.</p>
        </article>
    </div>
</div>

<!-- Tabs: Vertical, left tabs -->
<div class="mf-tabs mf-tabs--vertical">
    <header class="mf-tabs__header">
        <button class="mf-tabs__tab" data-index="1">Tab 1</button>
        <button class="mf-tabs__tab" data-index="2">Tab 2</button>
        <button class="mf-tabs__tab" data-index="3">Tab 3</button>
    </header>
    <div class="mf-tabs__content">
        <article class="mf-tabs__panel" data-index="1">
            <p>This is Tab 1 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nisi optio repudiandae ipsum at placeat. Iusto quibusdam at eligendi asperiores laboriosam nam corrupti eum, rerum, deleniti iste repudiandae blanditiis accusamus.</p>
        </article>
        <article class="mf-tabs__panel" data-index="2">
            <p>This is Tab 2 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id alias molestias necessitatibus reprehenderit omnis, nesciunt ratione adipisci architecto similique est at illum eveniet dolorum autem ullam porro earum blanditiis laboriosam.</p>
        </article>
        <article class="mf-tabs__panel" data-index="3">
            <p>This is Tab 3 content. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem sit doloremque, eligendi quaerat non a perferendis qui veritatis accusantium, suscipit delectus sunt explicabo repudiandae quam. Ullam accusantium consequatur harum quos?.</p>
        </article>
    </div>
</div>

<!-- Tabs: Vertical, right tabs -->
<div class="mf-tabs mf-tabs--vertical mf-tabs--vertical-right">
    <header class="mf-tabs__header">
        <button class="mf-tabs__tab" data-index="1">Tab 1</button>
        <button class="mf-tabs__tab" data-index="2">Tab 2</button>
        <button class="mf-tabs__tab" data-index="3">Tab 3</button>
    </header>
    <div class="mf-tabs__content">
        <article class="mf-tabs__panel" data-index="1">
            <p>This is Tab 1 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nisi optio repudiandae ipsum at placeat. Iusto quibusdam at eligendi asperiores laboriosam nam corrupti eum, rerum, deleniti iste repudiandae blanditiis accusamus.</p>
        </article>
        <article class="mf-tabs__panel" data-index="2">
            <p>This is Tab 2 content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id alias molestias necessitatibus reprehenderit omnis, nesciunt ratione adipisci architecto similique est at illum eveniet dolorum autem ullam porro earum blanditiis laboriosam.</p>
        </article>
        <article class="mf-tabs__panel" data-index="3">
            <p>This is Tab 3 content. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem sit doloremque, eligendi quaerat non a perferendis qui veritatis accusantium, suscipit delectus sunt explicabo repudiandae quam. Ullam accusantium consequatur harum quos?.</p>
        </article>
    </div>
</div>