<!-- default (centered content) -->
<div class="mf-hero">
    <div class="mf-hero__content">
        <h1 class="mf-hero__title">Sed Facilisis Nulla Lectus</h1>
        <p class="mf-hero__text">Aenean mauris arcu, suscipit in imperdiet vel, pharetra quis velit. Aenean vehicula, eros non convallis luctus.</p>
        <div class="mf-hero__cta">
            <a href="#" class="mf-btn mf-btn--cancel">Get Started</a>
        </div>
    </div>
</div>

<!-- left-aligned content -->
<div class="mf-hero mf-hero--left">
    <div class="mf-hero__content">
        <h1 class="mf-hero__title">Sed Facilisis Nulla Lectus</h1>
        <p class="mf-hero__text">Aenean mauris arcu, suscipit in imperdiet vel, pharetra quis velit. Aenean vehicula, eros non convallis luctus.</p>
        <div class="mf-hero__cta">
            <a href="#" class="mf-btn mf-btn--cancel">Get Started</a>
        </div>
    </div>
</div>

<!-- right-aligned content -->
<div class="mf-hero mf-hero--right">
    <div class="mf-hero__content">
        <h1 class="mf-hero__title">Sed Facilisis Nulla Lectus</h1>
        <p class="mf-hero__text">Aenean mauris arcu, suscipit in imperdiet vel, pharetra quis velit. Aenean vehicula, eros non convallis luctus.</p>
        <div class="mf-hero__cta">
            <a href="#" class="mf-btn mf-btn--cancel">Get Started</a>
        </div>
    </div>
</div>