.mf-hero {
    background: #f0f0f0;
    padding: 75px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mf-hero--center {
    justify-content: center;
}

.mf-hero--left {
    justify-content: flex-start;
}

.mf-hero--right {
    justify-content: flex-end;
}

.mf-hero__content {
    width: 40%;
    text-align: center;
}

.mf-hero--center .mf-hero__content {
    text-align: center;
}

.mf-hero--left .mf-hero__content {
    text-align: left;
}

.mf-hero--right .mf-hero__content {
    text-align: right;
}

.mf-hero__title {
    margin-top: 0;
}

.mf-hero__cta {
    margin-top: 30px;
}

.mf-hero__cta a {
    text-decoration: none;
}
