.view-section {
    &__component {
        min-height: 67vh;

        &-story {
            margin-bottom: 40px;

            & > h3 {
                margin: 0 0 5px 10px;
                color: #777777;
            }
        }
    }
}

#view-intro {
    .view-section__component {
        padding-left: 30px;
    }
}