#view-hero {
    .view-section__component-story {
        margin-bottom: 50px;

        & > h3 {
            margin: 0 0 5px 10px;
            color: #777777;
        }

        code {
            display: block;
            border-radius: 6px;
            margin: 10px 10px 0;
            padding: 0 20px;
            border: 1px solid #f0f0f0;

            pre {
                font-family: "Source Code Pro", monospace;
                font-size: 14px;
                line-height: 1.5;
            }

            br + br:last-child {
                display: none;
            }
        }
    }
}