<!-- basic -->
<div class="mf-alert">
    <p class="mf-alert__message">This is a basic alert</p>
</div>

<!-- Primary color -->
<div class="mf-alert mf-alert--primary">
    <p class="mf-alert__message">This is an alert with primary color</p>
</div>

<!-- Secondary color -->
<div class="mf-alert mf-alert--secondary">
    <p class="mf-alert__message">This is an alert with secondary color</p>
</div>

<!-- Danger color -->
<div class="mf-alert mf-alert--danger">
    <p class="mf-alert__message">This is an alert with danger color</p>
</div>

<!-- With header and message -->
<div class="mf-alert mf-alert--has-content mf-alert--primary">
    <header class="mf-alert__header">
        <h3 class="mf-alert__title">This is an alert header</h3>
    </header>
    <div class="mf-alert__content">
        <p>This is a message within an alert. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis delectus perferendis dolorum ipsam aperiam rem amet ipsa ad consequuntur. Omnis quam error eveniet eligendi saepe dolores quidem sed earum.</p>
        <p><a href="#">Learn more »</a></p>
    </div>
</div>

<!-- Dismissable alert -->
<div class="mf-alert mf-alert--dismiss mf-alert--primary">
    <p class="mf-alert__message">This is a dismissable alert</p>
    <button class="mf-alert__close">Dismiss</button>
</div>

<!-- Dismissable alert with message -->
<div class="mf-alert mf-alert--dismiss mf-alert--has-content mf-alert--primary">
    <header class="mf-alert__header">
        <h3 class="mf-alert__title">This is an alert header</h3>
        <button class="mf-alert__close">Dismiss</button>
    </header>
    <div class="mf-alert__content">
        <p>This is a message within an alert. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis delectus perferendis dolorum ipsam aperiam rem amet ipsa ad consequuntur. Omnis quam error eveniet eligendi saepe dolores quidem sed earum.</p>
        <p><a href="#">Learn more »</a></p>
    </div>
</div>