<!-- Modal: Basic, overlay (data-modal-id can be removed if there is only 1 modal in page) -->
<button class="mf-modal-trigger" data-modal-id="1">Open Basic Modal</button>

<div class="mf-modal" data-modal-id="1" data-layout="overlay">
    <div class="mf-modal__inner">
        <div class="mf-modal__content-wrap">
            <header class="mf-modal__header">
                <h3 class="mf-modal__title">Basic Modal</h3>
            </header>
            <main class="mf-modal__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quibusdam porro ex nihil odio vel expedita neque earum dignissimos eaque, distinctio perferendis obcaecati. Tenetur harum ratione enim quisquam perferendis! Iure!</p>
            </main>
        </div>
        <button class="mf-modal__close">Close</button>
    </div>
</div>

<!-- Modal: Full-screen -->
<button class="mf-modal-trigger" data-modal-id="2">Open Full-screen Modal</button>
<div class="mf-modal mf-modal--full-screen" data-modal-id="2" data-layout="full-screen">
    <div class="mf-modal__inner">
        <div class="mf-modal__content-wrap">
            <header class="mf-modal__header">
                <h3 class="mf-modal__title">Full-screen Modal</h3>
            </header>
            <main class="mf-modal__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quibusdam porro ex nihil odio vel expedita neque earum dignissimos eaque, distinctio perferendis obcaecati. Tenetur harum ratione enim quisquam perferendis! Iure!</p>
            </main>
        </div>
    </div>
    <button class="mf-modal__close">Close</button>
</div>