.mf-modal {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &.open {
        opacity: 1;
    }

    &__inner {
        max-width: 800px;
        width: 90%;
        background-color: white;
        padding: 30px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    &--full-screen {
        background: white;

        .mf-modal__inner {
            padding: 0;
            box-shadow: none;
        }
        
        .mf-modal__close {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }

}