#menu {
    // background-color: #fafafa;
    border-right: 1px solid #cccccc;
    width: 250px;
    position: fixed;
    top: 0;
    padding-top: 87px;
    height: 100vh;
    overflow: scroll;

    a {
        display: block;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        padding: 8px 0 8px 12px;

        &:hover {
            background-color: #f0f0f0;
        }
        
        &.active {
            background-color: #f0f0f0;
            font-weight: bold;
        }
    }
}