#menu {
    border-right: 1px solid #cccccc;
    width: 250px;
    position: fixed;
    top: 0;
    z-index: 2;
    padding-bottom: 76px;
    height: 100vh;
    overflow: scroll;

    .menu__site-links {
        border-bottom: 1px solid #dddddd;
        padding: 7px 0 6px;
        background-color: #fafafa;
        margin-bottom: 30px;
    }

    a {
        display: block;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        padding: 8px 0 8px 12px;

        &:hover {
            background-color: #f0f0f0;
        }
        
        &.active {
            background-color: #f0f0f0;
            font-weight: bold;
        }
    }
}