<!-- This is not really a component, just the pre-selected view on index page -->
<div class="mf-intro">
    <p>Library of web UI components with minimal styles and dependencies, useful as starter code to build upon and customize.</p>
    
    <p>Select a component from the left navigation menu. To see the code for each component, click the <strong>See Code</strong> button on the header. On the modal box, you can switch between HTML, CSS, SCSS, SASS, and JS.</p>

    <p>Targeted browser support: Edge, Firefox, Chrome, Safari</p>

    <hr>

    <p>To run this demo site locally:</p>
    <ul>
        <li>Clone repository: <code>git clone https://github.com/majoflosa/ui-components.git</code></li>
        <li>Change to project directory: <code>cd ui-components</code></li>
        <li>Install dependencies: <code>npm install</code></li>
        <li>Start server: <code>npm start</code></li>
        <li>Open your browser to <code>http://localhost:8080</code></li>
    </ul>

    <hr>

    <p><a href="https://github.com/majoflosa/ui-components" target="_blank">Visit GitHub repository</a></p>
    <p><a href="https://github.com/majoflosa/ui-components/issues" target="_blank">Report bug</a></p>
</div>