<!-- Tooltip: Top -->
<div class="mf-tooltip" data-tooltip-text="Lorem ipsum dolor sit amet." data-tooltip-position="top">
    <p>Show tooltip above the trigger: <strong class="mf-tooltip__trigger">Tooltip</strong></p>
    <div class="mf-tooltip__element"></div>
</div>

<!-- Tooltip: Bottom -->
<div class="mf-tooltip" data-tooltip-text="Lorem ipsum dolor sit amet." data-tooltip-position="bottom">
    <p>Show tooltip below the trigger: <strong class="mf-tooltip__trigger">Tooltip</strong></p>
    <div class="mf-tooltip__element"></div>
</div>

<!-- Tooltip: Left -->
<div class="mf-tooltip" data-tooltip-text="Lorem ipsum dolor sit amet." data-tooltip-position="left">
    <p>Show tooltip on the left of the trigger: <strong class="mf-tooltip__trigger">Tooltip</strong></p>
    <div class="mf-tooltip__element"></div>
</div>

<!-- Tooltip: Right -->
<div class="mf-tooltip" data-tooltip-text="Lorem ipsum dolor sit amet." data-tooltip-position="right">
    <p>Show tooltip on the right the trigger: <strong class="mf-tooltip__trigger">Tooltip</strong></p>
    <div class="mf-tooltip__element"></div>
</div>

<!-- Tooltip: Trigger with click -->
<div class="mf-tooltip" data-tooltip-text="Lorem ipsum dolor sit amet." data-tooltip-position="top" data-tooltip-trigger="click">
    <p>Show tooltip by clicking the trigger: <strong class="mf-tooltip__trigger">Tooltip</strong></p>
    <div class="mf-tooltip__element"></div>
</div>