$navBackgroundColor: #555555

#sticky-nav
    background: $navBackgroundColor
    color: #ffffff
    padding: 40px
    box-sizing: border-box
    transition: all 0.25s ease-in-out
    -webkit-transition: all 0.25s ease-in-out
    -moz-transition: all 0.25s ease-in-out
    -ms-transition: all 0.25s ease-in-out
    -o-transition: all 0.25s ease-in-out

    &.sticky
        position: fixed
        top: 0
        left: 0
        width: 100%
        padding-top: 25px
        padding-bottom: 25px
        background: rgba($navBackgroundColor, 0.7)
    
    a
        color: #ffffff


.section
    background: #ffffff
    
    &:nth-child(even)
        background: #eeeeee

.section-content
    padding: 50px
    margin: 0 auto
    width: 90%
    max-width: 900px


body
    margin: 0
    font-family: sans-serif
