<!-- Loading Screen: Basic -->
<div class="mf-loading-screen">
    <div class="mf-loading-screen__content">
        <!-- Customize loading message/animation -->
        <h3>Loading...</h3>
        <small>(Disappears when loading ends)</small>
    </div>
</div>

<!-- Loading Screen: with minimum display time -->
<div class="mf-loading-screen" data-min-time="2000">
    <div class="mf-loading-screen__content">
        <!-- Customize loading message/animation -->
        <h3>Loading...</h3>
        <small>(Disappears after 2 seconds, or if loading takes longer, when loading ends)</small>
    </div>
</div>
