/* Overwrite these in your project */
$accordion-color: #f0f0f0;

.mf-accordion {
    & & {
        margin: 20px 0;
    }

    &__panel {
        border: 1px solid $accordion-color;

        &-header {
            background-color: $accordion-color;
        }

        &-title {
            margin: 0;
        }

        &-trigger {
            display: block;
            width: 100%;
            box-sizing: border-box;
            text-align: left;
            appearance: none;
            -webkit-appearance: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
            padding: 20px;
            cursor: pointer;
        }

        &-body {
            padding: 0 20px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            overflow: hidden;
            
            &:not([style]) {
                height: 0;
            }
            
            .open > & {
                opacity: 1;
                height: auto;
            }
        }

        &-contents {
            overflow: hidden;
        }
    }
}