<!-- Single -->
<div class="mf-accordion">
    <div class="mf-accordion__panel open">
        <header class="mf-accordion__panel-header">
            <h3 class="mf-accordion__panel-title">
                <button class="mf-accordion__panel-trigger">Panel Header</button>
            </h3>
        </header>
        <div class="mf-accordion__panel-body">
            <div class="mf-accordion__panel-contents">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique.</p>
                <p>Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>

<!-- Multiple, open single -->
<div class="mf-accordion">
    <div class="mf-accordion__panel open">
        <header class="mf-accordion__panel-header">
            <h3 class="mf-accordion__panel-title">
                <button class="mf-accordion__panel-trigger">Panel Header</button>
            </h3>
        </header>
        <div class="mf-accordion__panel-body">
            <div class="mf-accordion__panel-contents">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique.</p>
                <p>Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="mf-accordion__panel">
        <header class="mf-accordion__panel-header">
            <h3 class="mf-accordion__panel-title">
                <button class="mf-accordion__panel-trigger">Panel Header</button>
            </h3>
        </header>
        <div class="mf-accordion__panel-body">
            <div class="mf-accordion__panel-contents">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique.</p>
                <p>Ex aliquid illo facere quod ducimus doloribus vel assumenda accusamus dolore quo ratione velit earum omnis, soluta animi fugit quos ullam. Similique. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>

<!-- Multiple, open multiple -->
<div class="mf-accordion">Accordion, multiple, open multiple</div>
