/* Overwrite these in your theme */
$input-border-color-default: #999999 !default;
$input-border-color-focus: #555555 !default;
$input-border-color-disabled: #bbbbbb !default;

$error-color: red !default;
$input-border-color-error: $error-color !default;

$input-border: 1px solid $input-border-color-default !default;

.mf-forms {
    &__text-input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: inherit;
        font-size: 1rem;
        color: inherit;
        line-height: 1rem;
        display: inline-block;
        padding: 0 14px;
        margin: 4px 0;
        border: $input-border;
        height: calc(1rem + 16px);
        border-radius: 2px;
        box-sizing: border-box;
        transition: all 0.25s ease-in-out;

        &:focus {
            outline: 0;
            border-color: $input-border-color-focus;
            box-shadow: 0 0 0 2px white, 0 0 0 4px lighten(blue, 30%);
        }

        .mf-forms__error & {
            border-color: $input-border-color-error;
        }

        &--disabled, &[disabled="disabled"] {
            border-color: $input-border-color-disabled;
            background-color: #f5f5f5;
            color: #999999;
            cursor: not-allowed;
        }
    }

    &__textarea {
        @extend .mf-forms__text-input;
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        padding: 8px 14px;
        overflow: initial;
    }

    &__input-group {
        label, .mf-forms__label {
            display: block;
        }

        .mf-forms__input {
            display: block;
        }

        &--inline {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            label, .mf-forms__label {
                margin-right: 10px;
            }
        }
    }

    &__required {
        color: $error-color;
    }

    &__error-message {
        font-size: 0.9rem;
        color: $error-color;
        font-style: italic;
        font-weight: bold;
        margin-top: 4px;
    }

    &__select-wrap {
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 6px;
            border: 2px solid #555555;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            position: absolute;
            top: 14px;
            right: 10px;
        }
    }

    &__select {
        @extend .mf-forms__text-input;
        padding-right: 30px;
        position: relative;
        z-index: 1;
        background: transparent;
        width: 100%;
        cursor: pointer;
    }
}